.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rangeSlider {
  width: 300px !important;
}

.css-187mznn-MuiSlider-root {
  height: 10px !important;
}
.css-14pt78w-MuiSlider-rail {
  background-color: #efeeef !important;
  border: 1px solid #696969;
}
.css-1gv0vcd-MuiSlider-track {
  border: 0px !important;
  background-color: #ad3738 !important;
}
.css-eg0mwd-MuiSlider-thumb {
  background-color: #ad3738 !important;
}
.css-11qr2p8-MuiButtonBase-root-MuiButton-root {
  padding: 4px !important;
  width: 100px;
}
.cancel-button {
  background-color: #e8e8e8 !important;
  color: #000 !important;
  text-transform: none !important;
}
.apply-button {
  background-color: #ba122b !important;
  text-transform: none !important;
}
